@import url('https://fonts.googleapis.com/css?family=Lato');
$fonts: Lato, sans-serif;
body {
font: 100% $fonts;
color: #3A3A3A;
background-color: #C0C0C0;

	.column-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.column {
		padding: 5px 30px;
		margin-top: 10px;
		min-height: 300px;
	}

	button, p.card-description {
		border: 1px solid;
		border-radius: 5px;
		box-shadow: 2px 2px 5px #000;
		color: #FFFFFF;
	}

	button.create-column {
		background-color: #8C1717;
		border-color: #8C1717;
		font-weight: bold;
	}
	button.add-card {
		background-color: #8E236B;
		border-color: #8E236B;
		font-weight: normal;
	}
	li.card {
		list-style-type: none;
	}
	p.card-description {
		background-color: #FF7F00;
		border-color: #FF7F00;
		width: 100px;
		overflow: hidden;
	}
	column-card-list {
		min-height: 5px;
	}
}
